html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EAF0F1;
    font-family: 'Open Sans', Arial, sans-serif;
    height: 100vh;
}

header {
    margin-left: 60px; /* Larghezza iniziale della sidebar */
    background-color: #FFFFFF;
    transition: margin-left 0.3s ease; /* Aggiungi la transizione */
}

.welcome-container {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: margin-left 0.3s ease;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.welcome-message {
    font-size: 22px;
    text-align: center;
}

/* Stili per la sidebar-navbar */
.sidebar-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px; /* Larghezza iniziale della sidebar */
    height: 100vh;
    background-color: #004D40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-navbar ul li {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar-navbar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    transition: all 0.3s ease;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sidebar-navbar ul li a img {
    width: 24px;
    height: 24px;
    margin-right: 0;
    transition: margin-right 0.3s ease;
}

.sidebar-navbar ul li a span {
    flex-grow: 1;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease, margin-left 0.3s ease;
    margin-left: -20px;
}

.sidebar-navbar:hover {
    width: 200px;
}

/* Usare una classe per spostare il contenuto insieme alla sidebar */
.sidebar-expanded header {
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: margin-left 0.3s ease;
}

.sidebar-expanded .welcome-container {
    margin-left: 220px;
}

.sidebar-navbar:hover ul li a img {
    margin-right: 15px;
}

.sidebar-navbar:hover ul li a span {
    opacity: 1;
    margin-left: 0;
}

.sidebar-navbar ul li:hover {
    background-color: #00796B;
    transition: transform 0.3s ease;
}

.sidebar-navbar ul li a:hover {
    color: #EAF0F1;
}

/* Attiva lo stato attivo */
.sidebar-navbar ul li a.active {
    color: #EAF0F1;
}

/* Mantieni fissa l'icona dell'utente */
.register-login {
    position: absolute;
    right: 25px;
}